.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 340px;
    gap: 20px;
}

.input{
    background-color: transparent;
    border: 2px solid #bbb;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 20px;
}
.button{
    padding: 20px;
    background-color: #53c28b;
    border: none;
    color: #eee;
    cursor: pointer;
    width: 340px;
    border-radius: 5px;
    font-weight: bold;
}
.googleBtn{
    padding: 20px;
    background-color: #dc5c5c;
    border: none;
    color: #eee;
    cursor: pointer;
    width: 340px;
    border-radius: 5px;
    font-weight: bold;
}